<h1>Listing tasks</h1>

<div id="task-list">
  <table>
  <thead>
    <tr>
      <th class="sort" rel="name">Name</th>
      <th class="sort" rel="time">Added</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody class="list">
  <% @tasks.each do |task| %>
    <tr class="task">
      <td>
        <%= completed(task) %>
        <span class="name"><%= task.name %></span>
      </td>
      <td>
        <span class="time hidden"><%= task.created_at.utc.iso8601 %></span>
        <%= distance_of_time_in_words task.created_at, Time.now %> ago
      </td>
      <td class="button"><%= link_to 'Toggle', toggle_task_path(task), method: :put, class: 'btn primary' %></td>
      <td class="button"><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete, class: 'btn danger' %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
</div>

<br />

<%= link_to 'New Task', new_task_path, class: 'btn success' %>
